.topic {
display: flex;
color: white;
font-weight: 200;
justify-content: center;
}
.box-post {
display:flex;
margin-left: 50px;
background: rgba(51, 170, 51, .1);  
}
.bg-box {
 display: inline-block;
 color: white;
}
.link-title {
    color:white;
}
.link-title:hover {
    color:greenyellow;
}